In [66]:
import pandas as pd
import json
import numpy as np

def csv_drive_path_generatoer(url:str):
 '''
 Help in read csv file directly from google drive.
 Make sure the csv format is standard.
 url:str - path to csv file example:
   url = 'https://drive.google.com/file/d/126JPZ3lYwdLyJ2d_7jxM9jMtZaOlF-Ld/view?usp=sharing'
 return : str
 '''
 path = 'https://drive.google.com/uc?export=download&id='+url.split('/')[-2]
 return path

# Y Actual

In [67]:
path = csv_drive_path_generatoer('https://drive.google.com/file/d/1VE2UuFClIj8IMn7yMxlnh6qj1wLi-zPh/view?usp=sharing')
y_test_actual = pd.read_csv(path,index_col=[0] )
y_test_actual.head()

     id    Salary
0  3771   25465.0
1  6595  166574.0
2  4915   70862.0
3  4925   65465.0
4  4827  190465.0

# Y pred

In [68]:
with open('predictions.json') as json_file:
    y_test_pred = json.load(json_file)

In [69]:
# len(y_test_pred) # 1341
# len(y_test_actual) # 1341

In [70]:
# y_test_pred

In [71]:
# y_test_actual

# Test

#### ids

In [72]:
if sorted([int(i) for i in list(y_test_pred.keys())]) == sorted(y_test_actual.id.tolist()):
  print("All ids exists and valid")
else:
  print("make sure there is no missing ids and the ids are in the right foramt (for example: 123.0 not valid, 123 valid)")

All ids exists and valid

Salary

In [73]:
import numbers
valid_predictions = len([1 for x in y_test_pred.values() if not isinstance(x, numbers.Number) ]) == 0

if valid_predictions:
  print("valid predictions")
else:
  print("not valid predictions, make sure there is no Nones strings or other not a number preditions values foramt")

valid predictions

# RMSE

In [74]:
mse = 0
for k,v in y_test_pred.items():
  mse += (v - y_test_actual.Salary[y_test_actual.id == int(k)].values[0])**2

rmse = mse ** 0.5

is_bonus = True
rmse = rmse * 0.95 if is_bonus else rmse
print(f"Final rmse is {rmse}")

Final rmse is 2428867.820919889